@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#e6e2dd, #d3b0aa, #d77a61, #723d46);  
  font-family: 'Gill Sans', sans-serif;
  color: #000;
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.logo1 {
    height: 70px;
    width: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: #bcbcbc;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: #e1b8b0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a {
    color: #000;
}

.nav.active .container {
    padding: 3px 0;
}

.nav a.current, .nav a:hover {
    color: black;
    font-weight: bold;
}


.hero {
    background-image: url('petpix/grouppet1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

button {
    background-color: #e6e2dd;
    color: grey;
    border: 1px white solid;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    left: 600px;
    z-index: 1;
}

button:focus {
    outline: none;
}

button .circle {
    position: absolute;
    background-color: #000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-25%, -60%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

.ripple a {
    color: #bb958e;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.content h2,
.content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}

.testimonial-container {
    background-color:#e6e2dd;
    color: grey;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.fa-quote {
    color: #bb958e;
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-left {
    left: 40px;
}

.fa-quote-right {
    right: 40px;
}

.testimonial {
    line-height: 28px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.progress-bar {
    background-color: white;
    height: 4px;
    width: 100%;
    animation: grow 10s linear 
    infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }

    .fa-quote {
        display: none;
    }
}

.endoptions {
    padding-top: 50px;
    position: relative;
}

.endoptions ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.endoptions a {
    color: #000;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}